[S3E]
MemSize=40000000
MemSizeDebug=400000000
MemMgrMaxAllocWarning=0
SysAppVersionPermitNewer=1

[GX]
DataCacheSize=20000000
PolyBufferSize=320000
VertCacheSize=20000
DisplayFramerate=0
NumTPages=128
NumPalettes16=400
NumPalettes256=400
NumTPageFreeRects=40
UseRgbLighting=1

[GXFONT]
CacheTextureMaxSize=1024
